nav.navbar.navbar-expand-sm.bg-primary.navbar-dark {
    width: 87%;
    margin-left: 6%;
}
.nav-link:hover{
    color: #C0C0C0;
    background-color: #C0C0C0	;
    border-color: #C0C0C0; 
    border-radius: 4px;
}