<!-- <p>
  user dashboard works!
</p> -->
<br>
<h3><span class="glyphicon glyphicon-user"></span>&nbsp;Customers</h3><br>
<div>

  <table border='1' width='100%' style='border-collapse: collapse;'>
    <tr>
      <th></th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Order Total</th>
      <th>User Role</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let user_details of user_details">
      <td><a href="#"><span class="glyphicon glyphicon-user user"></span></a></td>
      <!-- <td>{{ user_details.id}}</td> -->
      <td>{{ user_details.firstname }}</td>
      <td>{{ user_details.lastname }}</td>
      <td>{{ user_details.address }}</td>
      <td>{{ user_details.city }}</td>
      <td>{{ user_details.state }}</td>
      <td>{{ user_details.order_total }}</td>
      <td>{{ user_details.role_name }}</td>
      <td>
        <button *ngIf="user_details.id == 1 || user_details.id == 2" (click)="deleteUser_details(user_details.id)" class="btn btn-danger" disabled>Delete</button>
        <button *ngIf="user_details.id != 1 && user_details.id != 2" (click)="deleteUser_details(user_details.id)" class="btn btn-danger">Delete</button>
        <button (click)="viewUser_details(user_details.id)" class="glyphicon glyphicon-eye-open ">{{viewuser}}</button>
        <!-- <button (click)="selectUser_details(user_details)">Update</button> -->
         <!-- user update commented-->
        <!-- <button (click)="updateUser_details(u)">Edit</button> -->
        
      </td>
    </tr>
  </table>
  <br> 
  <form  *ngFor="let selectedUser_details of selectedUser_details">
<ng-container *ngIf="show">
    <div style="margin: 0 auto;text-align: left;">
        <div>
            <h3><span class="glyphicon glyphicon-user"></span>&nbsp;User Details</h3><br>
            <label>Firstname: </label> &nbsp;{{ selectedUser_details.firstname }}<br>
            <label>Lastname:  </label> &nbsp;{{ selectedUser_details.lastname }}<br>
            <label>Address:  </label> &nbsp;{{ selectedUser_details.address }}<br>
            <label>City:  </label> &nbsp;{{ selectedUser_details.city }}<br>
            <label>State:  </label> &nbsp;{{ selectedUser_details.state }}<br>
            <label>Order Total: </label> &nbsp; {{ selectedUser_details.order_total }}<br>
            <label>User Role	:  </label> &nbsp;{{ selectedUser_details.role_name }}
        </div>
    </div>
</ng-container></form>
  <!-- user update -->
  <!-- <form #u = "ngForm" *ngFor="let selectedUser_details of selectedUser_details" style="display: none"> -->
      <!-- <form style="display: none">
      <label>Firstname</label>
      <input type="text" name="firstname" value="{{ selectedUser_details.firstname }}">
      <br>
      <label>Lastname</label>
    <input type="text" name="lastname" value="{{ selectedUser_details.lastname }}">
    <br>
    <label>Address</label>
    <input type="text" name="address" value="{{ selectedUser_details.address }}">
    <br>
    <label>City</label>
    <input type="text" name="city" value="{{ selectedUser_details.city }}">
    <br>
    <label>State</label>
    <input type="text" name="state" value="{{ selectedUser_details.state }}">
    <br>
    <label>Order Total</label>
    <input type="text" name="order_total" value="{{ selectedUser_details.order_total }}">
    <br>-->
      <!-- <input type="button" (click)="updateUser_details(user_details.id)" value="Update"> -->
    <!--</form> -->
  <br>
  <form #f = "ngForm">
    <label>Firstname</label>
    <input type="text" name="firstname" [(ngModel)] = "selectUser_details.firstname">
    <br>
    <label>Lastname</label>
    <input type="text" name="lastname" [(ngModel)] = "selectUser_details.lastname">
    <br>
    <label>Address</label>
    <input type="text" name="address" [(ngModel)] = "selectUser_details.address">
    <br>
    <label>City</label>
    <input type="text" name="city" [(ngModel)] = "selectUser_details.city">
    <br>
    <label>State</label>
    <input type="text" name="state" [(ngModel)] = "selectUser_details.state">
    <br>
    <label>Order Total</label>
    <input type="text" name="order_total" [(ngModel)] = "selectUser_details.order_total">
    <br><br>
    <input type="button" class="submit btn btn-primary" (click)="createOrUpdateUser_details(f)" value="Add New Customer">
  </form>
 
