<!-- <p>
  user dashboard works!
</p> -->
<br>
<h3><span class="glyphicon glyphicon-user"></span>&nbsp;Customers</h3><br>
<div>

  <table border='1' width='100%' style='border-collapse: collapse;'>
    <tr>
      <th></th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Order Total</th>
      <th>User Role</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let user_details of user_details">
      <td><a href="#"><span class="glyphicon glyphicon-user user"></span></a></td>
      <!-- <td>{{ user_details.id}}</td> -->
      <td>{{ user_details.firstname }}</td>
      <td>{{ user_details.lastname }}</td>
      <td>{{ user_details.address }}</td>
      <td>{{ user_details.city }}</td>
      <td>{{ user_details.state }}</td>
      <td>{{ user_details.order_total }}</td>
      <td>{{ user_details.role_name }}</td>
      <td>
        <button *ngIf="user_details.id == 1 || user_details.id == 2" (click)="deleteUser_details(user_details.id)" class="btn btn-danger" disabled>Delete</button>
        <button *ngIf="user_details.id != 1 && user_details.id != 2" (click)="deleteUser_details(user_details.id)" class="btn btn-danger">Delete</button>
        <button (click)="viewUser_details(user_details.id)" class="glyphicon glyphicon-eye-open ">{{viewuser}}</button>
         <button (click)="selectUser_details(user_details,'add_user')">Edit</button>
         <!-- user update commented-->
        <!-- <button (click)="updateUser_details(u)">Edit</button> -->
        
      </td>
    </tr>
  </table>
  <br>
  <button (click)="openModal('add_user')">Add New User</button>
  <jw-modal id="add_user">
  <form #f = "ngForm">
    <div class='form-group'>
        <div class="col-md-2">
      <label>Firstname</label></div>
      <input type="text" name="firstname" [(ngModel)] = "selectedUser_details.firstname">
    </div>
    <br>
    <div class='form-group'>
      <div class="col-md-2">
      <label>Lastname</label></div>
      <input type="text" name="lastname" [(ngModel)] = "selectedUser_details.lastname">
    </div>
    <br>
    <div class='form-group'>
        <div class="col-md-2">
        <label>Address</label></div>
        <input type="text" name="address" [(ngModel)] = "selectedUser_details.address">
      </div>
    <br>
    <div class='form-group'>
        <div class="col-md-2">
        <label>City</label></div>
        <input type="text" name="city" [(ngModel)] = "selectedUser_details.city">
      </div>
    <br>
    <div class='form-group'>
        <div class="col-md-2">
        <label>State</label></div>
        <input type="text" name="state" [(ngModel)] = "selectedUser_details.state">
      </div>
    <br>
    <div class='form-group'>
        <div class="col-md-2">
        <label>Order Total</label></div>
        <input type="text" name="order_total" [(ngModel)] = "selectedUser_details.order_total">
      </div>
    <br><br>
    <div class='form-group'>
    <input type="button" class="submit btn btn-primary" (click)="createOrUpdateUser_details(f)" value="Add Or Update Customer">
  </div>
  </form>
</jw-modal>
<jw-modal id="view_user">
  <form  *ngFor="let viewdetail of viewdetails">
      <ng-container *ngIf="show">
          <div style="margin: 0 auto;text-align: left;">
              <div>
                  <h3><span class="glyphicon glyphicon-user"></span>&nbsp;User Details</h3><br>
                  <label>Firstname: </label> &nbsp;{{ viewdetail.firstname }}<br>
                  <label>Lastname:  </label> &nbsp;{{ viewdetail.lastname }}<br>
                  <label>Address:  </label> &nbsp;{{ viewdetail.address }}<br>
                  <label>City:  </label> &nbsp;{{ viewdetail.city }}<br>
                  <label>State:  </label> &nbsp;{{ viewdetail.state }}<br>
                  <label>Order Total: </label> &nbsp; {{ viewdetail.order_total }}<br>
                  <label>User Role	:  </label> &nbsp;{{ viewdetail.role_name }}
              </div>
          </div>
      </ng-container></form>
</jw-modal>
