<!-- <p>
  user dashboard works!
</p> -->
<h1>Customer Details</h1>
<div>

  <table border='1' width='100%' style='border-collapse: collapse;'>
    <tr>
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Order Total</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let user_details of user_details">
      <td>{{ user_details.id}}</td>
      <td>{{ user_details.firstname }}</td>
      <td>{{ user_details.lastname }}</td>
      <td>{{ user_details.address }}</td>
      <td>{{ user_details.city }}</td>
      <td>{{ user_details.state }}</td>
      <td>{{ user_details.order_total }}</td>
      <td>
        <button (click)="deleteUser_details(user_details.id)">Delete</button>
        <!-- <button (click)="selectUser_details(user_details)">Update</button> -->

         <!-- user update commented-->
        <!-- <button (click)="updateUser_details(u)">Update</button> -->
        
      </td>
    </tr>
  </table>
  <br>
  <!-- user update -->
  <form *ngFor="let user_details of user_details" style="display: none">
      <label>Firstname</label>
      <input type="text" name="firstname" value="{{ user_details.firstname }}">
      <br>
      <label>Lastname</label>
    <input type="text" name="lastname" value="{{ user_details.lastname }}">
    <br>
    <label>Address</label>
    <input type="text" name="address" value="{{ user_details.address }}">
    <br>
    <label>City</label>
    <input type="text" name="city" value="{{ user_details.city }}">
    <br>
    <label>State</label>
    <input type="text" name="state" value="{{ user_details.state }}">
    <br>
    <label>Order Total</label>
    <input type="text" name="order_total" value="{{ user_details.order_total }}">
    <br>
      <!-- <input type="button" (click)="updateUser_details(user_details.id)" value="Update"> -->
    </form>
  <br>
  <form #f = "ngForm">
    <label>Firstname</label>
    <input type="text" name="firstname" [(ngModel)] = "selectUser_details.firstname">
    <br>
    <label>Lastname</label>
    <input type="text" name="lastname" [(ngModel)] = "selectUser_details.lastname">
    <br>
    <label>Address</label>
    <input type="text" name="address" [(ngModel)] = "selectUser_details.address">
    <br>
    <label>City</label>
    <input type="text" name="city" [(ngModel)] = "selectUser_details.city">
    <br>
    <label>State</label>
    <input type="text" name="state" [(ngModel)] = "selectUser_details.state">
    <br>
    <label>Order Total</label>
    <input type="text" name="order_total" [(ngModel)] = "selectUser_details.order_total">
    <br>
    <input type="button" (click)="createOrUpdateUser_details(f)" value="Create Customer">
  </form>
 
